/__pycache__
/chroma_db_test

/med_embeddings
/models
/qdrant_storage
.env
cc.ipynb
check.py
chroma_push.py
embed_large_scale.py
embed_qa.py
embeddings_batch_0.parquet
finalmedication_embeddings_final.parquet
generate_qa_embeddings.py
groqrag.py
medication_embeddings_final.parquet
merge.py
MID_Q&A_Chunks_kalyan.jsonl
milvus.py
push.py
qbatch.py

RAG.py
rr.py
test.ipynb
testing.py

